@font-face {
  font-family: BATANG;
  src: url("/public/fonts/BATANG.ttf") 
}

.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;  
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

.text{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 15px;
  text-align: center;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);

}

.firstpagetext{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 15px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.scrolltexttop{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 10px;
  color: #808080;
  text-align: center;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);

}

.scrolltexttoparrow{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 10px;
  color: #808080;
  text-align: center;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -8%);

}


.scrolltextbottom{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 10px;
  color: #808080;
  text-align: center;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);

}

.scrolltextbottomarrow{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 10px;
  color: #808080;
  text-align: center;
  position: fixed;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -93%);

}



.firstscrolltext{
  letter-spacing: 0.2rem;
  font-family: "BATANG";
  font-size: 10px;
  color: #808080;
  text-align: center;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}


video{
  width:40vw;
  height: 50vh; 
  object-fit: cover;
}

.container {
  width: 40vw;
  height: 50vh; 
  position: fixed;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);

}



.container img {
  max-width: 100%;
  max-height: 100%;
}

.containervertical {
  width: 40vw;
  height: 50vh; 
  position: fixed;
  top: 50%;
  left: 58%;
  transform: translate(-45%, -50%);

}



.containervertical img {
  max-width: 100%;
  max-height: 100%;
}




@media only screen and (max-width: 600px) {


  video{
    width:60vh;
    height: 30vh; 
    object-fit: cover;
  }
  
.text{
  letter-spacing: 0.1rem;
  font-family: "BATANG";
  font-size: 15px;
}

.scrolltext{
  letter-spacing: 0.1rem;
  font-family: "BATANG";
  font-size: 14px;
  color: #808080;
}


.container img {
  max-width: 100%;
  max-height: 100%;
}

.containervertical {
  width: 40vw;
  height: 50vh; 
  position: fixed;
  top: 50%;
  left: 53%;
  transform: translate(-45%, -50%);

}



.containervertical img {
  max-width: 100%;
  max-height: 100%;
}

}
